
<h1>Listing Genres</h1>


<div id='form_wrapper'>
  <form id='genres'>
    <div class="container">
      <h2>Genre</h2>
      <ul class="list">
        <% @genres.each do |genre| %>
        <li class="list__item">
          <%= radio_button_tag 'genre', "#{genre.name}", @genre && @genre.name == genre.name ? true : false,class:"radio-btn"%>
          <%=label_tag 'genre_'+genre.name, truncate(genre.name,:length => 10),class:"label"%>
          <% genre.name %>
          <% link_to 'Show', genre %>
          <% link_to 'Edit', edit_genre_path(genre) %>
          <% link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
        <%end%>
      </ul>
    </div>
  </form>

<div id='line'></div>
  <form id='types'>
    <div class="container">
      <h2>Type</h2>
      <ul class="list">
        <%= radio_button_tag 'type', "movie", @type == "movie" ? true : false,class:"radio-btn" %>
        <%=label_tag 'type_'+"movie", "movie",class:"label"%>

        <%= radio_button_tag 'type', "series", @type == "series" ? true : false,class:"radio-btn" %>
        <%=label_tag 'type_'+"series", "series",class:"label"%>

        <%= radio_button_tag 'type', "other", @type == "other" ? true : false,class:"radio-btn" %>
        <%=label_tag 'type_'+"other", "other",class:"label"%>
      </ul>
    </div>
  </form>
</div>
<%= link_to 'Mange Genres', new_genre_path,class:"mange_genres" %>



<% if @type == "series"%>
<h1>Listing Series</h1>
<div id='series_wrapper'>
  <%@counter=1%>
  <% if @videos.count == 0 %>
      <h1>No Videos matching your request</h1>
  <%else%>
    <% @videos.each do |series| %>
      <%@search = Tmdb::Search.new %>
      <%@search.resource('tv') %>
      <%@search.query(series.title) %>
      <%@tv_series_id=@search.fetch[0]["id"] %>
      <%@pics = Tmdb::TV.images(@tv_series_id) %>
      <% @pics['backdrops'][1]["file_path"] %>
      <%= image_tag("http://image.tmdb.org/t/p/w780/#{@pics['backdrops'][1]["file_path"]}", :class => "#{series.title}", :id=>@counter)%>
      <%@counter+=1%>
    <% end %>
  <%end%>
</div>


  <script>
  function hasClass(elem, className) {
      return elem.className.split(' ').indexOf(className) > -1;
  }



  $("img").click(function(){
    $("#dropdown").remove();
    if ($(this).attr("id")%2 == 0) {
      $(this).after("<div id='dropdown'><h1>"+$(this).attr('class')+"</h1></div>");
    } else if ( $(this).next().length == 0) {
      $(this).after("<div id='dropdown'><h1>"+$(this).attr('class')+"</h1></div>");
    } else {
      $(this).next().after("<div id='dropdown'><h1>"+$(this).attr('class')+"</h1></div>");
    }

    var classs=$(this).attr('class')
    $.ajax({
      type: "POST",
      url: "/get_videos",
      dataType:"json",
      data: {"title":$(this).attr('class')},
      success:function(data) {
        var total_seasons=data["total_seasons"];
        var season=data["season"];
        var series=data["series"]
        var videos=data["videos"]
        var amount=videos.length
        $( " <a href='/series/"+data["id"]+"/edit'>Edit</a> " ).appendTo( "#dropdown" );
        $( "<h2>"+data["series"]["desc"]+"</h2>" ).appendTo( "#dropdown" );
        $("<h4>"+amount+" episodes<br>Season: </h4>").appendTo( "#dropdown" );
        var s = $("<select id='season_select' class='"+classs+" seaon_select' />");
        s.appendTo('#dropdown');


        $( "<div class='owl-carousel'></div>" ).appendTo( "#dropdown" );
        for(i=0;i<amount;i++){
          if (videos[i]["desc"].length>300) {
            var desc= videos[i]["desc"].substring(0, 300)+"...";
          } else {
            var desc= videos[i]["desc"];
          };
          if (videos[i]["total_time"] != null) {
            var remaining=(videos[i]["left_off"]/videos[i]["total_time"])*100
          } else {
            var remaining=0
          }
          // VIDEO DIV
          $("<div class='video_divs'><a href='/videos/"+videos[i]["id"]+"'> <img src="+videos[i]["poster"]+
          "  /> </a> <p class='video_title'>"+videos[i]["title"]+
          "</p><p><div class='meter'><span style='width: "+remaining+"%'></span></div></p>  <p class='video_desc'>"+desc+"</h3></div>").appendTo( ".owl-carousel" );


        }
        $(".owl-carousel").owlCarousel({
          items : 5,
          margin: 20,
          responsiveClass:true,
          responsive:{
              0:{
                  items:1
              },
              600:{
                  items:3
              },
              1000:{
                  items:5
              }
          }
        });
        $("p:contains("+data["last_watched"]+")").parent().css({"color":"black","background-color":"#F2E980"})
        for(var val in total_seasons) {
            $('<option />', {value: total_seasons[val], text: total_seasons[val]}).appendTo(s);
        }
        $("#season_select").val(season);
      },
      error:function(data) {
        $( " <a href='/series/"+data['responseJSON']['id']+"/edit'>Edit</a> " ).appendTo( "#dropdown" );
        $( "<h2>No Episodes Added Yet <br>  <a href='/videos/new'>Add Some Now!</a> </h2>" ).appendTo( "#dropdown" );
        return false;
      }
    });
  });

  document.addEventListener('change', function (e) {
      if (hasClass(e.target, 'seaon_select')) {
                var name = $('#season_select').attr('class').slice(0, -13)
                var season_number=$( "#season_select option:selected" ).text()
              //alert($(this).val());
              // RESENDS AJAX REQUEST WHEN CHANGING SEASON NUMBER*****************************
                $(".owl-carousel").remove();
                $('h2').remove();
                $('h4').remove();
                $('#season_select').remove();
                $( "#dropdown a" ).remove();
                var classs=name;
                $.ajax({
                  type: "POST",
                  url: "/get_videos",
                  dataType:"json",
                  data: {"title":name,"season":season_number},
                  success:function(data) {
                    var total_seasons=data["total_seasons"];
                    var season=data["season"];
                    var series=data["series"];
                    var videos=data["videos"];
                    var amount=videos.length;
                    $( " <a href='/series/"+data["id"]+"/edit'>Edit</a> " ).appendTo( "#dropdown" );
                    $( "<h2>"+data["series"]["desc"]+"</h2>" ).appendTo( "#dropdown" );
                    $("<h4>"+amount+" episodes<br>Season: </h4>").appendTo( "#dropdown" );
                    var s = $("<select id='season_select' class='"+classs+" seaon_select' />");
                    s.appendTo('#dropdown');
                    $( "<div class='owl-carousel'></div>" ).appendTo( "#dropdown" );
                    for(i=0;i<amount;i++){
                      if (videos[i]["desc"].length>300) {
                        var desc= videos[i]["desc"].substring(0, 300)+"...";
                      } else {
                        var desc= videos[i]["desc"];
                      };
                      if (videos[i]["total_time"] != null) {
                        var remaining=(videos[i]["left_off"]/videos[i]["total_time"])*100
                      } else {
                        var remaining=0
                      }
                      // VIDEO DIV
                      $("<div class='video_divs'><a href='/videos/"+videos[i]["id"]+"'> <img src="+videos[i]["poster"]+
                      "  /> </a> <p class='video_title'>"+videos[i]["title"]+
                      "</p><p><div class='meter'><span style='width: "+remaining+"%'></span></div></p>  <p class='video_desc'>"+desc+"</h3></div>").appendTo( ".owl-carousel" );

                    }
                    $(".owl-carousel").owlCarousel({
                      items : 5,
                      margin: 20,
                      responsiveClass:true,
                      responsive:{
                          0:{
                              items:1
                          },
                          600:{
                              items:3
                          },
                          1000:{
                              items:5
                          }
                      }
                    });
                    $("p:contains("+data["last_watched"]+")").parent().css({"color":"black","background-color":"#F2E980"})
                    for(var val in total_seasons) {
                        $('<option />', {value: total_seasons[val], text: total_seasons[val]}).appendTo(s);
                    }
                    $("#season_select").val(season);
                  },
                  error:function(data) {
                    $( " <a href='/series/"+data['responseJSON']['id']+"/edit'>Edit</a> " ).appendTo( "#dropdown" );
                    $( "<h2>No Episodes Added Yet <br>  <a href='/videos/new'>Add Some Now!</a> </h2>" ).appendTo( "#dropdown" );
                    return false;
                  }
                });
      }
  }, false);

  </script>





<%elsif @type == "movie" %>
  <h1>Listing Movies</h1>
  <%@counter=1%>
  <div id='movies_index_wrapper'>
    <% if @videos.count == 0 %>
        <h1>No Videos matching your request</h1>
    <%else%>
        <% @videos.each do |video| %>
            <% if @counter == 1%>
              <div>
            <%end%>
            <%= image_tag(video.poster, :class => "#{video.title}", :id=>@counter)%>
            <%@counter+=1%>
            <% if @counter == 5 %>
              </div>
              <%@counter=1%>
            <%end%>
        <% end %>
      <%end%>
  </div>



  <script>




  $("img").click(function(){
    $("#dropdown").remove();


      $(this).parent().after("<div id='dropdown'><h1>"+$(this).attr('class')+"</h1></div>");


    var classs=$(this).attr('class')
    $.ajax({
      type: "POST",
      url: "/get_movie",
      dataType:"json",
      data: {"title":$(this).attr('class')},
      success:function(data) {
        console.log(data);


  //        if (videos[i]["desc"].length>300) {
  //          var desc= videos[i]["desc"].substring(0, 300)+"...";
  //        } else {
  //          var desc= videos[i]["desc"];
  //        };
  //        if (videos[i]["total_time"] != null) {
  //          var remaining=(videos[i]["left_off"]/videos[i]["total_time"])*100
  //        } else {
  //          var remaining=0
  //        }
          // VIDEO DIV
          $("<div class='movie_preview_div'><a href='/videos/"+data["id"]+"'> <img src='"+data["img"]+
         "'></a><p><div class='meter'><span style='width: "+data["remaining"]+"%'></span></div></p>  <p class='movie_desc'>"+data["desc"]+"</h3></div>").appendTo( "#dropdown" );


      },
      error:function(data) {
        console.log("bad");
        console.log(data);
        alert("Error Occurred! Please make sure there is a user using the Email entered.")
        return false;
      }
    });


  })

    </script>


<%end%>


<script>

if ($("#genres input[type='radio']:checked").val() == undefined) {
    console.log("BAD");
    $('#genres input[type=radio]:first').attr('checked', true);
}

if ($("#types input[type='radio']:checked").val() == undefined) {
    console.log("BAD");
    $('#types input[type=radio]:first').attr('checked', true);
}

$(function(){
  $('input[type="radio"]').click(function(){
    if ($(this).is(':checked'))
    {
      var type= $("#types input[type='radio']:checked").val();
      var genre= $("#genres input[type='radio']:checked").val();
      $(location).attr('href',"/genres?genre="+genre+"&type="+type+"");
    }
  });
});

</script>
