<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @video.production_type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Season:</strong>
  <%= @video.season %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @video.episode %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @video.desc %>
</p>

<p>
  <strong>Date:</strong>
  <%= @video.date %>
</p>

<p>
  <strong>Genres:</strong>
  <% @video.genres.each do |g| %>
    <%g.name%><br>
  <%end%>
</p>

<p>
  <strong>Series:</strong>
  <%= @video.series != nil ? @video.series.title : "no series"    %>
</p>

<p>
  <strong>User:</strong>
  <%= @video.user.email %>
</p>

<p>
  <strong>Time Left off:</strong>
  <%= @video.left_off %>
</p>

<p>
  <strong>Last Watched:</strong>
  <%= @video.last_watched %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>


<div id="video_container">
   <video id="player" width="400" controls autoplay poster=<%=@video.poster%>>
     <source src=<%=@video.content.url%> type="video/mp4">
     <source src=<%=@video.content.url%> type="video/ogg">
     Your browser does not support HTML5 video.
   </video>
</div>

 <div>Current Video Time : <span  id="currentTime">0</span></div>
 <div>Total Video time : <span id="totalTime">0</span></div>



<script>

$(function(){
$('#currentTime').html($('#video_container').find('video').get(0).load());
$('#currentTime').html($('#video_container').find('video').get(0).play());
})
setInterval(function(){
$('#currentTime').html($('#video_container').find('video').get(0).currentTime);
$('#totalTime').html($('#video_container').find('video').get(0).duration);
},500)

document.getElementById('player').addEventListener('loadedmetadata', function() {
  this.currentTime = gon.start;
}, false);


setInterval(function()
{
    $.ajax({
      type:"post",
      url:"/set_time",
      datatype:"json",
      data: {total:$('#video_container').find('video').get(0).duration,time:$('#video_container').find('video').get(0).currentTime,video:gon.id},
      success:function(data)
      {
        console.log(data);
          //do something with response data
      }
    });
}, 30000);//time in milliseconds




var end_popup = setInterval(function()
{
  if ($('#video_container').find('video').get(0).currentTime == $('#video_container').find('video').get(0).duration) {
    swal("What Next?", {
      buttons: {
        cancel: "Return to video browser",
        catch: {
          text: "Replay",
          value: "catch",
        },
        next: "Next Video",
      },
    })
    .then((value) => {
      switch (value) {

        case "next":
          if (gon.next_eps=="end") {
            swal({
              icon: "warning",
              title: "Thats It!",
              text: "No more episodes found :("
            });
          } else {
            document.location.href = gon.next_eps;
          }
          break;

        case "catch":
          $('#video_container').find('video').get(0).currentTime=0
          $('#player').get(0).play();
          break;

        default:
          document.location.href = "/series";
      }
    });
    clearInterval(end_popup)

    //ADD COUNTER
     $(".swal-text").after("<div class='countdown'>Next episode in <span id='clock'></span></div>");
     var fiveSeconds = new Date().getTime() + 10000;
     $('#clock').countdown(fiveSeconds, function(event) {
       $(this).html(event.strftime('%S Seconds'));
     });
     // AUTO CLICK AFTER 10 SECONDS
    var auto_click = setInterval(function()
    {
        $(".swal-button--next").click()
        clearInterval(auto_click)
    }, 10000);//time in milliseconds


  }
}, 1000);//time in milliseconds



</script>
