<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @video.production_type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Season:</strong>
  <%= @video.season %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @video.episode %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @video.desc %>
</p>

<p>
  <strong>Date:</strong>
  <%= @video.date %>
</p>

<p>
  <strong>Genres:</strong>
  <% @video.genres.each do |g| %>
    <%g.name%><br>
  <%end%>
</p>

<p>
  <strong>Series:</strong>
  <%= @video.series != nil ? @video.series.title : "no series"    %>
</p>

<p>
  <strong>User:</strong>
  <%= @video.user.email %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>



 <video width="400" controls poster=<%=@poster%>>
   <source src=<%=@video.content.url%> type="video/mp4">
   <source src=<%=@video.content.url%> type="video/ogg">
   Your browser does not support HTML5 video.
 </video>



"w92", "w154", "w185", "w342", "w500", "w780", or "original"
