
<% if @video.production_type.downcase == 'tv'%>
<div id='video_show_wrapper'>
  <div id="video_container">
     <video id="player" width="400" controls autoplay poster=<%=@video.poster%>>
       <source src=<%=@video.content.url%> type="video/mp4">
       <source src=<%=@video.content.url%> type="video/ogg">
       Your browser does not support HTML5 video.
     </video>
  </div>
  <h1>Video Information</h1>
  <table>
  <tr>
    <th>Title</th>
    <td><%= @video.title %></td>
  </tr>
  <tr>
    <th>Season</th>
    <td><%= @video.season%></td>
  </tr>
  <tr>
    <th>Episode</th>
    <td><%= @video.episode%></td>
  </tr>
  <tr>
    <th>Air Date</th>
    <td><%= @video.date%></td>
  </tr>
  <tr>
    <th>Series</th>
    <td><%= @video.series.title%></td>
  </tr>
  <tr>
    <th>Last Watched</th>
    <td><%= @video.last_watched%></td>
  </tr>
</table>
<h2>Description</h2>
  <p><%= @video.desc %></p>

  <div class='genre_form'>
    <select>
      <option disabled selected value> -- select an option -- </option>
      <% Genre.all.each do |g| %>
        <option value=<%=g.name.parameterize.underscore.downcase%>><%=g.name%></option>
      <%end%>
    </select>
    <button class="button button1">Add/Remove Genre</button>
  </div>


<%elsif @video.production_type.downcase == 'movie'%>
<div id='video_show_wrapper'>
  <div id="video_container">
     <video id="player" width="400" controls autoplay poster=<%=@video.movie_img%>>
       <source src=<%=@video.content.url%> type="video/mp4">
       <source src=<%=@video.content.url%> type="video/ogg">
       Your browser does not support HTML5 video.
     </video>
  </div>

  <h1>Video Information</h1>

  <table>
  <tr>
    <th>Title</th>
    <td><%= @video.title %></td>
  </tr>
  <tr>
    <th>Release Date</th>
    <td><%= @video.date%></td>
  </tr>
  <tr>
    <th>Last Watched</th>
    <td><%= @video.last_watched%></td>
  </tr>
</table>
<h2>Description</h2>
<p><%= @video.desc %></p>

<div class='genre_form'>
  <div class="select-style">
    <select>
      <option disabled selected value> -- select an option -- </option>
      <% Genre.all.each do |g| %>
        <option value=<%=g.name.parameterize.underscore.downcase%>><%=g.name%></option>
      <%end%>
    </select>
  </div>
  <button class="button button1">Add/Remove Genre</button>
</div>
<%end%>


   <p>
     <strong>Genres:</strong><br>
     <% @video.genres.each do |g| %>
       <%=g.name%><br>
     <%end%>
   </p>


   <%= link_to 'Edit', edit_video_path(@video) %> |
   <%= link_to 'Back', videos_path %>

</div>

<script>
$("select").prop("selectedIndex", 0);
$("select").change(function(){
    //alert(($(this)).val());
    console.log(gon.genres);
    if (gon.genres.indexOf( $(this).val()) > -1) {
      $("button").text("Remove Genre")
    } else {
      $("button").text("Add Genre")
    }
});
$("button").click(function(){
  if (gon.movie==true) {
    $.ajax({
      type:"post",
      url:"/manage_genre",
      datatype:"json",
      data: {id:gon.genre_id,genre:$("select").val(),movie:true },
      success:function(data)
      {
        console.log(data);
        if (data["report"]=="add") {
          gon.genres.push($("select").val());
          $("button").text("Remove Genre")
          console.log(gon.genres);
        } else {
          var index= gon.genres.indexOf( $("select").val() );
          gon.genres.splice(index,1);
          $("button").text("Add Genre")
          console.log(gon.genres);
        }
      }
    });
  } else {
    $.ajax({
      type:"post",
      url:"/manage_genre",
      datatype:"json",
      data: {id:gon.genre_id,genre:$("select").val(),movie:false },
      success:function(data)
      {
        console.log(data);
        if (data["report"]=="add") {
          gon.genres.push($("select").val());
          $("button").text("Remove Genre")
          console.log(gon.genres);
        } else {
          var index= gon.genres.indexOf( $("select").val() );
          gon.genres.splice(index,1);
          $("button").text("Add Genre")
          console.log(gon.genres);
        }
      }
    });
  }

});


//**********************************************************************

$(function(){
$('#currentTime').html($('#video_container').find('video').get(0).load());
$('#currentTime').html($('#video_container').find('video').get(0).play());
})
setInterval(function(){
$('#currentTime').html($('#video_container').find('video').get(0).currentTime);
$('#totalTime').html($('#video_container').find('video').get(0).duration);
},500)

document.getElementById('player').addEventListener('loadedmetadata', function() {
  this.currentTime = gon.start;
}, false);


setInterval(function()
{
    $.ajax({
      type:"post",
      url:"/set_time",
      datatype:"json",
      data: {total:$('#video_container').find('video').get(0).duration,time:$('#video_container').find('video').get(0).currentTime,video:gon.id},
      success:function(data)
      {
        console.log(data);
          //do something with response data
      }
    });
}, 30000);//time in milliseconds




var end_popup = setInterval(function()
{
  if ($('#video_container').find('video').get(0).currentTime == $('#video_container').find('video').get(0).duration) {
    swal("What Next?", {
      buttons: {
        cancel: "Return to video browser",
        catch: {
          text: "Replay",
          value: "catch",
        },
        next: "Next Video",
      },
    })
    .then((value) => {
      switch (value) {

        case "next":
          if (gon.next_eps=="end") {
            swal({
              icon: "warning",
              title: "Thats It!",
              text: "No more episodes found :("
            });
          } else {
            document.location.href = gon.next_eps;
          }
          break;

        case "catch":
          $('#video_container').find('video').get(0).currentTime=0
          $('#player').get(0).play();
          break;

        default:
          document.location.href = "/series";
      }
    });
    clearInterval(end_popup)

    //ADD COUNTER
     $(".swal-text").after("<div class='countdown'>Next episode in <span id='clock'></span></div>");
     var fiveSeconds = new Date().getTime() + 10000;
     $('#clock').countdown(fiveSeconds, function(event) {
       $(this).html(event.strftime('%S Seconds'));
     });
     // AUTO CLICK AFTER 10 SECONDS
    var auto_click = setInterval(function()
    {
        $(".swal-button--next").click()
        clearInterval(auto_click)
    }, 10000);//time in milliseconds


  }
}, 1000);//time in milliseconds



</script>
