<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @video.type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Season:</strong>
  <%= @video.season %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @video.episode %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @video.desc %>
</p>

<p>
  <strong>Date:</strong>
  <%= @video.date %>
</p>

<p>
  <strong>Genres:</strong>
  <% @video.genres.each do |g| %>
    <%g.name%><br>
  <%end%>
</p>

<p>
  <strong>Series:</strong>
  <%= @video.series != nil ? @video.series.title : "no series"    %>
</p>

<p>
  <strong>User:</strong>
  <%= @video.user.email %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>


 <video width="400" controls>
   <source src=<%=@video.content.url%> type="video/mp4">
   <source src=<%=@video.content.url%> type="video/ogg">
   Your browser does not support HTML5 video.
 </video>
https://s3.amazonaws.com/personal-netflix/uploads/video/content//e6fd16b3-2c98-4b1d-843d-f3752ff3cbf4/IT+2017+720p+NEW+HD-TS+60fps+X264.mp4
