<%= form_for(@series) do |f| %>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
      <% @series.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :genre %><br>
    <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<input id="basics" /><br>

<script>
var counter = 0

//var options = {
//	data: [""]
//};
//$("#basics").easyAutocomplete(options);

list=""
var search_results=[]
var id_results=[]
var ids=''

$("#basics").keypress(function(){
  $('#basics').focus();
//  var options = {
  // data: search_results
  //};
  //$("#basics").easyAutocomplete(options);
  //$('#basics').focus();

  $.getJSON("https://api.themoviedb.org/3/search/tv?api_key=5041b86cde2ce6de2f60c84e6fccd66c&query="+$("#basics").val(),function(data){
     results= data.results
     list=''
     ids=''
      for(i=0;i<5;i++){
        list=list+data.results[i]["original_name"]+","
        ids=ids+data.results[i]["id"]+","
        counter+=1
      }
    search_results=list.split(",")
    id_results=ids.split(",")
    $('#basics').focus();
  });
  if (counter > 0) {
    $(".poster").remove();
    for(i=0;i<5;i++){
      $.getJSON("https://api.themoviedb.org/3/tv/"+parseInt(id_results[i])+"?api_key=5041b86cde2ce6de2f60c84e6fccd66c&language=en-US",function(data){
         results= data.results
         $("body").append("<img class='poster "+data["name"]+"'src='http://image.tmdb.org/t/p/w780/"+data["poster_path"] + "' alt='"+data["name"]+"'>");
         $(".poster").click(function(){
           $.getJSON("https://api.themoviedb.org/3/search/tv?api_key=5041b86cde2ce6de2f60c84e6fccd66c&query="+$("#series_title").val(),function(data){
                 id=data.results[0]["id"]
                 console.log(id);
                   $.getJSON("https://api.themoviedb.org/3/tv/"+id+"?api_key=5041b86cde2ce6de2f60c84e6fccd66c&language=en-US",function(data){
                       desc=data["overview"]
                       $('#series_desc').val(desc);
                 });
           });
             $('#series_title').val($(this).attr("class").substring(7));
         });
      });
    }

    counter=0
  }
});



</script>
