<p id="notice"><%= notice %></p>

<h1>Listing Series</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @series.each do |series| %>
    <%@search = Tmdb::Search.new %>
    <%@search.resource('tv') %>
    <%@search.query(series.title) %>
    <%@tv_series_id=@search.fetch[0]["id"] %>
    <%@pics = Tmdb::TV.images(@tv_series_id) %>
    <% @pics['backdrops'][1]["file_path"] %>

      <tr>
        <td><%= series.title %></td>
        <td><%= series.desc %></td>
        <td><%= link_to 'Show', series %></td>
        <td><%= link_to 'Edit', edit_series_path(series) %></td>
        <td><%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      <%= link_to (series) do %>
        <%= image_tag("http://image.tmdb.org/t/p/w780/#{@pics['backdrops'][1]["file_path"]}")%>
      <%end%>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Series', new_series_path %>
