<!DOCTYPE html>
<html>
<head>
  <title>PersonalNetflix</title>
  <%= Gon::Base.render_data %>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <ul>
      <li> <%= link_to "hello #{current_user.email} Sign Out :(", destroy_user_session_path, :method => :delete %></li>
      <li> <%= link_to "Genres", "/genres"%></li>
      <li> <%= link_to "Series", "/series"%></li>
      <li> <%= link_to "Videos", "/videos"%></li>
    </ul>
  <%else%>
    <li><%= link_to 'Sign In!', new_user_session_path %></li>
  <%end%>
  <!-- notcie and alert from devise gem -->
  <p class="notice"><%= notice %></
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
