<!DOCTYPE html>
<html>
<head>
  <title>Cloud Cinema</title>
  <%= Gon::Base.render_data %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato|Sarala" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div id='logo'></div>
  <% if user_signed_in? %>
    <ul>
      <li> <%= link_to "Genres", "/genres"%></li>
      <li> <%= link_to "Series", "/series"%></li>
      <li> <%= link_to "Movies", "/movies"%></li>
      <li style="float:right"> <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
    </ul>
    <%= form_tag('/search', :method => :get) do -%>
      <div><%= text_field_tag 'search' %></div>
    <% end -%>
  <%else%>
    <ul>
      <li><%= link_to 'Sign In!', new_user_session_path %></li>
    </ul>
  <%end%>
</div>
  <!-- notcie and alert from devise gem -->
  <p class="notice"><%= notice %></
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>

<script>
if ($(window).width() < 795) {
  $("#search").focus(function(){
      $("#header").css("height", "110px");
      $("#header ul").css("display", "block");
      $("#header form").css("display", "inline-block");
      $("#header input").css("margin-top", "-2.2em");
      $("#header form").css("float", "right");
  });

  $("div").focusout(function(){
    $("#header").removeAttr('style');
    $("#header ul").removeAttr('style');
    $("#header form").removeAttr('style');
    $("#header input").removeAttr('style');

});
}

$(window).resize(function() {
  if ($(window).width() < 795) {
    $("#search").focus(function(){
        $("#header").css("height", "110px");
        $("#header ul").css("display", "block");
        $("#header form").css("display", "inline-block");
        $("#header input").css("margin-top", "-2.2em");
        $("#header form").css("float", "right");
    });

    $("div").focusout(function(){
      $("#header").removeAttr('style');
      $("#header ul").removeAttr('style');
      $("#header form").removeAttr('style');
      $("#header input").removeAttr('style');

  });
  }
});

$("#logo").click(function(){
    document.location.href = "/";
});
$("#logo").hover(function() {
    $(this).css('cursor','pointer');
}, function() {
    $(this).css('cursor','auto');
});

if ( $(".notice").text().length > 0) {
  $(".notice").css("padding","1em");
};
if ( $(".alert").text().length > 0) {
  $(".notice").css("padding","1em");
};
</script>
</html>
